.cart{
    padding: 5rem 10px;
    font-family: 'Poppins', sans-serif;

    h1{
        text-align: start;
    }

    .cartContainer{
        // background-color: #fee2f8;
        // background-image: linear-gradient(315deg, #fee2f8 0%, #dcf8ef 74%);
        margin: 20px 0px;
        border-radius: 20px;

        .cartBelow{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;

            .cartTotal{
                padding: 10px 10px;
                display: flex;
                gap: 20px;


                @media screen and (max-width: 640px){
                    width: 100%;
                    justify-content: space-between;
    
                }
            }

            .cartButtons{
                display: flex;
                align-items: center;
                flex-wrap: wrap-reverse;
                @media screen and (max-width: 640px){
                    width: 100%;
                    justify-content: space-between;
    
                }

                .back{
                    button{
                        padding: 10px 20px;
                        border-radius: 0px;
                        border: none;
                        color: rgb(21, 21, 21);
                        font-size: 1rem;
                        font-weight: 400;
                        transition:all 0.2s ease-in-out;
                        background: none;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 10px;
                
                        svg{
                            height: 1.2em;
                            width: 1.2em;
                            
                            
                        }
                
                        &:hover{
                            color: grey;
                        }
                    }
                    
            
                }

                .shopButton{
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
        
                    button{
                        margin: 10px;
                    }
    
                    
    
                    .checkout{
                        padding: 10px 20px;
                        border-radius: 0px;
                        border: none;
                        background-color: #3bb78f;
                        background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%);
                        color: white;
                        font-size: 1rem;
                        font-weight: 400;
                        box-shadow: 0 15px 20px rgba(41, 41, 41, 0);
                        transition:all 0.2s ease-in-out;
                        
                
                        &:hover{
                            box-shadow: 0 10px 20px rgba(29, 29, 29, 0.179);
                        }
                
                        &:active{
                            transition:all 0.2s ease-in-out;
                            box-shadow: inset -2px -2px 3px #f8f7f7, inset 2px 2px 7px rgb(0 0 0 / 23%);
                        }
                    }
    
                    .empty{
                        border: none;
                        padding: 10px 20px;
                        font-size: 1rem;
                        font-weight: 400;
                        box-shadow: 0 20px 20px rgba(70, 70, 70, 0);
                        transition:all 0.2s ease-in-out;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 10px;
                
                        svg{
                            height: 1.2em;
                            width: 1.2em;
                            
                            
                        }

                        &:hover{
                            box-shadow: 0 10px 20px rgba(29, 29, 29, 0.152);
                        }
                
                        &:active{
                            transition:all 0.2s ease-in-out;
                            box-shadow: inset -2px -2px 3px #f8f7f7, inset 2px 2px 7px rgb(0 0 0 / 23%);
                        }
                    }
                }
                
            }
        }
        

        
    }
}