.productCard{
    margin: 20px;
    font-family: 'Poppins', sans-serif;

    .image{
        img{
            height: 290px;
            width: 230px;    
            border: 1px solid rgba(75, 75, 75, 0.145);
            transition:all 0.3s ease-in-out;
            
            // box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.083);

            &:hover{
                filter: brightness(70%);
            }
        }
    }

    .context{
        // display: flex;
        // justify-content: space-between;

        .description{
            margin: 10px 0px 5px 5px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            gap: 10px;
    
            h4{
                font-size: 1.2rem;
                margin: 1.3px 0px;
            }
    
            .name{
                font-weight: 300;
            }
    
            .price{
                font-weight: 600;
                color: rgb(13, 116, 13);
            }
        }
    
        .button{
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            button{
                padding: 10px 20px;
                border: none;
                border-bottom-right-radius: 30px;
                border-top-left-radius: 30px;
                background-color: #3bb78f;
                background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%);
                color: white;
                font-size: 1rem;
                font-weight: 400;
                box-shadow: 0 15px 20px rgba(41, 41, 41, 0);
                transition:all 0.2s ease-in-out;

                &:hover{
                    box-shadow: 0 10px 20px rgba(29, 29, 29, 0.207);

                }

                &:active{
                    transition:all 0.2s ease-in-out;
                    box-shadow: inset -2px -2px 3px #f8f7f7, inset 2px 2px 7px rgb(0 0 0 / 23%);
                }
            }
        }
    }
    
}


/***** POP-OUT CONTENT ***********/
.modal-content{
    border-bottom-right-radius: 30px !important;
    border-top-left-radius: 30px !important;
    border-bottom-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    padding: 5px;
    border: none;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.131);
    font-family: 'Poppins', sans-serif;

    .image{
        display: flex;
        flex-direction: row;
        justify-content: center;

        img{
            width: 250px;
            height: 300px;
            // border: 1px solid rgba(75, 75, 75, 0.145);
            border-radius: 20px;
        }
    }

    .description{
        margin-top: 20px;
        p{
            color:rgb(75, 75, 75);
        }
    }
    .addCart{
        padding: 10px 20px;
        border: none;
        border-bottom-right-radius: 30px;
        border-top-left-radius: 30px;
        background-color: #3bb78f;
        background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%);
        color: white;
        font-size: 1rem;
        font-weight: 400;
        box-shadow: 0 15px 20px rgba(41, 41, 41, 0);
        transition:all 0.2s ease-in-out;

        &:hover{
            box-shadow: 0 10px 20px rgba(29, 29, 29, 0.207);
        }

        &:active{
            transition:all 0.2s ease-in-out;
            box-shadow: inset -2px -2px 3px #f8f7f7, inset 2px 2px 7px rgb(0 0 0 / 23%);
        }
    }

    .closeButton{
        display: flex;
        justify-content: end;
        
    }

    .qtyButton{
        margin: 0px 20px;
        display: flex;
        gap: 10px;
        align-items: center;

        button{
            border: none;
            height: 40px;
            width: 40px;
            border-radius: 2px;
            text-align: center;
            transition:all 0.2s ease-in-out;
            &:active{
                background: rgb(158, 158, 158);
                transition:all 0.2s ease-in-out;

            }
        }

        h5{
            width: 30px;
            text-align: center;
        }
    }

    
}