.topPage{
    background-color: #7cffcb;
    background-image: linear-gradient(315deg, #7cffcb 0%, #74f2ce 74%);


    .top{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 100px 10px;

        
    }
}