.cartItem{
    margin: 15px 5px;
    padding: 5px 2px 2px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid rgba(89, 89, 89, 0.487);


    .cartLeft{
        display: flex;
        flex-direction: row;
        align-items: center;
        
        @media screen and (max-width: 640px){
            width: 500px;
        }

        .cartImg{
            margin: 10px 0px;
            width: 100px;
            height: 120px;
    
            img{
                width: 100px;
                height: 120px;
                border-radius: 20px;
            }
    
        }
    
        .cartDetail{
            margin: 10px;
            padding: 5px;
            text-align: start;
    
            p{
                margin: 0px;
            }
        }
    }


    .cartRight{
        padding: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap-reverse;
        align-items: center;
        justify-content: center;

        

        .qtyButton{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            h5{
                width: 2rem;
            }

            @media screen and (max-width: 640px){
                flex-direction: column-reverse;

            }

            button{
                margin: 10px;
                padding: 5px;
                border: none;
                border-radius: 5px;
                height: 32px;
                width: 32px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: rgb(240, 204, 178);
                font-size: 1.5rem;
                font-weight: 500;

                &:active{
                    background: rgb(146, 146, 146);
                    transition:all 0.2s ease-in-out;
    
                }

            }
        }

        .deleteButton{
            border: none;
            background: none;
            svg{
                height: 1.5rem;
                width: 1.5rem;
                color: rgb(138, 34, 34);
            }

            .btn-close{
                border: none;
            }
        }
        
    }


    
}